body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    background: url(/images/pattern-background-desktop.svg) repeat-x;
    background-color: #e4e9fc;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    color: #1f2f56;
}

a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #3829e0;
}

a:hover {
    color: #7280a7
}

.paragrafo {
    font-size: 15px;
    line-height: 22px;
    color: #7280a7;
}
.container {
    height: 630px;
    width: 410px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 50px #7280a7;
}

.topo {
    width: 100%;
}


.container-texto {
    padding: 10px 55px;
    text-align: center;
}

.plano {
    background: #f5f7ff;
    margin: 40px;
    height: 85px;
    border-radius: 15px;
    padding: 0 23px;
    margin:  15px 40px 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-plan {
    font-size: 15px;
    font-weight: bold;
    line-height: 27px;
    color: #1f2f56;  
}

.icone {
    display: flex;
}

.valor {
    padding-left: 20px;
}

button {
    background: #3829e0;
    margin: 0 40px;
    width: 80%;
    border: none;
    border-radius: 10px;
    padding: 14px 15px;
    font-weight: 700;
    color: white;
    box-shadow: 0 15px 50px 0 #7280a7;
}

button:hover {
    background-color: #7e74e6;
    box-shadow: 0 15px 50px 0 #7e74e6;
    cursor: pointer;
}


.canc-order a {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    color: #7280a7;
}

.canc-order a:hover {
    color: #1f2f56
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    font-size: 11px; 
    color: #3e52a3; 
}

footer {
    margin: 45px 0 20px 0;
    width: 100%;
}

@media (max-width: 525px) {
    .container {
        max-width: 95%;
        margin-top: 5%;
    }
    .canc-order a{
        padding-top: 28px;
    }
}