body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    background: url(/images/pattern-background-desktop.svg) repeat-x;
    background-color: hsl(227, 79%, 94%);
}

.container {
    height: 630px;
    width: 410px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 50px hsl(224, 23%, 55%)
}

.topo {
    width: 100%;
}



.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

footer {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 20px;
}