body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    background: url(/images/pattern-background-desktop.svg) repeat-x;
    background-color: hsl(227, 79%, 94%);
}

h1 {
    font-size: 25px;
    font-weight: bold;
    color: hsl(223, 47%, 23%);
}

a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: hsl(245, 75%, 52%);
}

a:hover {
    color: hsl(224, 23%, 55%)
}

.paragrafo {
    font-size: 15px;
    line-height: 22px;
    color: hsl(224, 23%, 55%);
}
.container {
    height: 630px;
    width: 410px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 50px hsl(224, 23%, 55%)
}

.topo {
    width: 100%;
}


.container-texto {
    padding: 10px 55px;
    text-align: center;
}

.plano {
    background: hsl(225, 100%, 98%);
    margin: 40px;
    height: 85px;
    border-radius: 15px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-plan {
    font-size: 15px;
    font-weight: bold;
    line-height: 27px;
    color: hsl(223, 47%, 23%);  
}

.icone {
    display: flex;
    padding: 20px;
}

.valor {
    padding-left: 20px;
}

.botao {
    background: hsl(245, 75%, 52%);
    margin: 40px;
    height: 85px;
    border-radius: 15px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

footer {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 20px;
}